<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>Branch Mangement System</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body><nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Sprint 5 Tasca 1 Nivell 1</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/branchs/v/branchs}"> Branch </a>
      </li>
    </ul>
  </div>
</nav>


<div class = "container">
  <div class = "row">
    <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Create new Branch </h1>
      <div class = "card-body">
        <form th:action="@{/branch/v/branchs/add}" th:object="${branch}" method ="POST">
          <div class ="form-group">
            <label> Branch name </label>
            <input
            type="text"
            name="name"
            th:field="*{name}"
            class ="form-control"
            placeholder="Enter branch name"
            />
          </div>

          <div class ="form-group">
            <label> Branch country </label>
            <input
                    type="text"
                    name="country"
                    th:field="*{country}"
                    class ="form-control"
                    placeholder="Enter branch country"
            />
          </div>
          <div class = "bot-footer">
            <button type ="submit" clas ="btn btn-prymary">
              Submit
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>